@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecf7ff;
  --foreground: #112c55;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
