html {
  color: #575757;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 850px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  html {
    font-size: 18px;
  }
}
html,
body {
  min-height: 100vh;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

.site__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1600px;
}
.mdxContent p {
  margin-bottom: 1.25rem;
}
.mdxContent p:last-child {
  margin-bottom: 0;
}
.mdxContent a {
  color: blue;
}
.mdxContent a:hover {
  color: blue;
  text-decoration: underline;
}
.yellowBG {
  position: relative;
}
.yellowBG:after {
  content: "";
  width: 33rem;
  height: 33rem;
  border-radius: 50%;
  background: linear-gradient(#fffced, #ffefb0);
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
